OPENAI_API_KEY=
OPENAI_MODEL=gpt-4.1-mini
OPENAI_VECTOR_STORE_ID=
INDEX_MAX_FILES=300
AUTO_INDEX_ON_CHAT=false
AUTO_INDEX_ON_DEBUG=false
PLUGIN_ROOT=/Applications/XAMPP/xamppfiles/htdocs/sites/wp-content/plugins
LOCAL_SITE_URL=http://localhost/sites
WP_DEBUG_LOG=/Applications/XAMPP/xamppfiles/htdocs/sites/wp-content/debug.log
PHP_BINARY=/Applications/XAMPP/xamppfiles/bin/php
